@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.bgtop {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #FFFFFF 100%), linear-gradient(90deg, #1A365D 0%, #63171B 100%);
}